@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
  font-family: 'Comic Neue', cursive;
}

.inputDiv {
  text-align: center;
  width: 100%;
  height: 80px;
  margin-bottom: 5px;
  display: flex;
}

.input {
  text-align: center;
  width: 80%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 0;
  border-left: 0;
  margin-bottom: 5px;
}

.inputIcon {
  text-align: center;
  width: 20%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-right: 0;
  border-left: 0;
  margin-bottom: 5px;
  background-color: rgba(128, 128, 128, 0.322);
}

.inputIcon:hover {
  background-color: white;
  box-shadow: 0 0 2px black;
}

li {
  display: flex;
  margin-bottom: 10px;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid grey;
  height: 50px;
}

#placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  width: 30%;
  border: 1px solid grey;
  margin: 10% 35% 0 35%;
  box-shadow: 0 0 15px grey;
}

#itemsDiv {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  margin: 5px 0 0 0;
  flex: 2;
}

.description {
  flex: 2;
  font-weight: bold;
}

.dots {
  flex: 1;
  margin: 0;
}

.title {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin-top: 10px;
}

.titleBtn {
  border: 0;
  background-color: white;
}

.titleBtn:hover {
  background-color: rgba(128, 128, 128, 0.322);
  border-radius: 50%;
}

.clearBtn {
  position: relative;
  bottom: 0;
  width: 30%;
  border: 1px solid grey;
  background-color: rgba(128, 128, 128, 0.322);
  margin: 0 35% 0 35%;
  height: 50px;
}

.clearBtn:hover {
  background-color: white;
  box-shadow: 0 0 2px black;
}


.dragging {
  border: 3px solid rgba(0, 0, 255, 0.486);
  opacity: 1;
}

.invisible {
  display: none;
}

.draggingOver {
  box-shadow: 0 0 15px grey;
}

.completed {
  text-decoration: black line-through;
}